@model TP02SWII.Models.BL

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consignee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ship)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ship)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BLId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
