@model IEnumerable<TP02SWII.Models.BL>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BLId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BLId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BLId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BLId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BLId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
