@model TP02SWII.Models.Container

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BL.BLId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContainerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
